PORT=4000
SUPABASE_URL=https://gxzyvgqfodyvjoczhjtc.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_9BP4oH-yaiHPk5wvZ-xs1w__JB_I8LJ
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
FRONTEND_ORIGIN=http://localhost:3000
